{% block html_head_container %}

{% include 'partials/html-header.twig' %}
  {% block head %}
    {% endblock %}
  </head>
{% endblock %}

  <body class="{{body_class}} {{ no_hero }}" data-template="base.twig">
    <div class="bodybag fade-out">
      <header class="header">
        {% block header %}
        <div class="wrapper">
          <div class="c-container c-container-full">
            <div class="header-logo" role="banner">
              <a class="header-logo-link" href="{{site.url}}/" rel="home">
                <img src="{{site.theme.link}}/dist/assets/images/logo-full.jpg" alt="Logo 1000 Hills Products" width="270" height="259" class="u-hide">
                <img src="{{site.theme.link}}/dist/assets/images/logo-inside.png" alt="Logo inside 1000 Hills Products" width="170" height="163" class="header-logo-inside" data-0="width: 170px; height: 163px;" data-100="width: 120px; height: 115px;">
                <img src="{{site.theme.link}}/dist/assets/images/logo-outside.png" alt="Logo outside 1000 Hills Products" width="170" height="163" class="header-logo-outside" data-0="width: 170px; height: 163px;" data-100="width: 120px; height: 115px;">
              </a>
            </div>
            <nav id="nav-main" class="nav-main" role="navigation">
              {% include "partials/menu.twig" with {'menu': menu.get_items} %}
            </nav><!-- #nav -->
            <div class="header-menu--bg" data-82p="opacity: 0;" data-95p="opacity: 1;"></div>
            <div id="nav-toggle" class="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
        {% endblock %}
      </header>
      
      {% if post.get_field('carousel_shortcode') %}
        <section class="hero">
          {% include 'partials/hero.twig' %}
        </section>
      {% endif %}
      
      {% if post.get_field('hero_video') %}
        {% include 'partials/hero-video.twig' %}
      {% endif %}
      
      {% if video_youtube_id %}
        <script type="text/javascript">
          var tag = document.createElement('script');
          tag.src = "https://www.youtube.com/player_api";
          var firstScriptTag = document.getElementsByTagName('script')[0];
          firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

          var player;
          function onYouTubePlayerAPIReady() {
            player = new YT.Player('ytplayer', {
                height: '390',
                width: '640',
                videoId: '{{ video_youtube_id }}',
                playerVars: {
                  autoplay: 1,
                  controls: 0,
                  disablekb: 1,
                  loop: 1,
                  modestbranding: 0,
                  showinfo: 0,
                  autohide: 0,
                  color: 'white',
                  iv_load_policy: 3,
                  theme: 'light',
                  rel: 0,
                  start: 204,
                  end: 240
                },
                events: {
                  'onReady': onPlayerReady,
                  'onStateChange': onPlayerStateChange
                }
            });
          }

          function onPlayerReady(event){
            player.mute();
            player.setLoop(true);
            
            // for mobile
            fakeClick(function() {
              player.playVideo();
            });
          }
          
          function fakeClick(fn) {
            var $a = jQuery('<a href="#" id="fakeClick"></a>');
                $a.bind("click", function(e) {
                    e.preventDefault();
                    fn();
                });

            jQuery("body").append($a);

            var evt, 
                el = jQuery("#fakeClick").get(0);

            if (document.createEvent) {
                evt = document.createEvent("MouseEvents");
                if (evt.initMouseEvent) {
                    evt.initMouseEvent("click", true, true, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
                    el.dispatchEvent(evt);
                }
            }

            jQuery(el).remove();
          }
          
          function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.ENDED) {
              player.seekTo(204);
              player.playVideo();
            }
          }
          
        </script>
        <section class="youtube-wrapper">
          <div id="ytplayer"></div>
        </section>
      {% endif %}
      
      {% block content %}
        Sorry, no content.
      {% endblock %}

      {% block footer %}
        <footer id="footer" class="footer">
          {% include 'partials/footer.twig' %}
        </footer>
        <script src="{{ assetPath('scripts/bundle.js') }}" async></script>
        {{ function('wp_footer') }}
      {% endblock %}
    </div>
    
    <div class="loader">
      <div class="loader-spinner"></div>
    </div>
    
    {% if is_front_page %}
      <div class="loader loader-home show">
        <img src="{{ assetPath('assets/images/logo-outside.png') }}" alt="logo part" class="loader-home-logo loader-home-logo--outside" width="270" height="259">
        <img src="{{ assetPath('assets/images/logo-inside.png') }}" alt="logo part" class="loader-home-logo loader-home-logo--inside" width="270" height="259">
      </div>
    {% endif %}
  </body>
</html>
