{% block html_head_container %}

{% include 'partials/html-header.twig' %}
  {% block head %}
    {% endblock %}
  </head>
{% endblock %}

  <body class="{{body_class}} {{ no_hero }}" data-template="base.twig">
    <div class="bodybag fade-out">
      <header class="header">
        {% block header %}
        <div class="wrapper">
          <div class="c-container c-container-full">
            <div class="header-logo" role="banner">
              <a class="header-logo-link" href="{{site.url}}/" rel="home">
                <img src="{{site.theme.link}}/dist/assets/images/logo-full.jpg" alt="Logo 1000 Hills Products" width="270" height="259" class="u-hide">
                <img src="{{site.theme.link}}/dist/assets/images/logo-inside.png" alt="Logo inside 1000 Hills Products" width="170" height="163" class="header-logo-inside" data-0="width: 170px; height: 163px;" data-100="width: 120px; height: 115px;">
                <img src="{{site.theme.link}}/dist/assets/images/logo-outside.png" alt="Logo outside 1000 Hills Products" width="170" height="163" class="header-logo-outside" data-0="width: 170px; height: 163px;" data-100="width: 120px; height: 115px;">
              </a>
            </div>
            <nav id="nav-main" class="nav-main" role="navigation">
              {% include "partials/menu.twig" with {'menu': menu.get_items} %}
            </nav><!-- #nav -->
          </div>
        </div>
        {% endblock %}
      </header>
      
      {% if post.get_field('carousel_shortcode') %}
        <section class="hero">
          {% include 'partials/hero.twig' %}
        </section>
      {% endif %}
      
      {% if post.get_field('hero_video') %}
        {% include 'partials/hero-video.twig' %}
      {% endif %}
      
      {% block content %}
        Sorry, no content.
      {% endblock %}

      {% block footer %}
        <footer id="footer" class="footer">
          {% include 'partials/footer.twig' %}
        </footer>
        <script src="{{ assetPath('scripts/bundle.js') }}" async></script>
        {{ function('wp_footer') }}
      {% endblock %}
    </div>
    
    <div class="loader">
      <div class="loader-spinner"></div>
    </div>
    
    {% if is_front_page %}
      <div class="loader loader-home show">
        <img src="{{ assetPath('assets/images/logo-outside.png') }}" alt="logo part" class="loader-home-logo loader-home-logo--outside" width="270" height="259">
        <img src="{{ assetPath('assets/images/logo-inside.png') }}" alt="logo part" class="loader-home-logo loader-home-logo--inside" width="270" height="259">
      </div>
    {% endif %}
  </body>
</html>
